#name {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  #name {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
  }
  